<h1>Listing fthreads</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subforum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fthreads.each do |fthread| %>
  <tr>
    <td><%= fthread.title %></td>
    <td><%= fthread.subforum %></td>
    <td><%= link_to 'Show', fthread %></td>
    <td><%= link_to 'Edit', edit_fthread_path(fthread) %></td>
    <td><%= link_to 'Destroy', fthread, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fthread', new_fthread_path %>
