<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= #stylesheet_link_tag :all
  stylesheet_link_tag "main" 
  %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render :partial => "/header" %><div id='main'>

<%= yield %>

</div><%= render :partial => "/footer" %>

</body>
</html>
